<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./partials/head.ejs") %>
    <title>404-Error</title>
</head>
<body>
    <h1>404 - Error page</h1>
</body>
</html>