<!-- views/articles/bikin.ejs -->
<html>
<head>
  <%- include('/partials/head.ejs') %>
  <title>Login</title>
  <link rel="stylesheet" href="/style.css" type="text/css"></head>
<body>
  <div class="container my-4">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Chapter 6</h1>
          <p class="lead">Sign Up new Player</p>
        </div>
      </div>
      <form method="POST" action="/create">
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Create username</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" name="username">
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">password</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password" name="password">
        </div>
      </div>
      <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-danger">Sign Up</button>
      </div>
      </div>
    </form>
  </div>
</body>
</html>